<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>902284174007-a59gkfsa8e8ja4fdraurlukklchlr5qn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.902284174007-a59gkfsa8e8ja4fdraurlukklchlr5qn</string>
	<key>API_KEY</key>
	<string>AIzaSyCmCjYgMaBFazFgPMiycleZLoeeLZROd7s</string>
	<key>GCM_SENDER_ID</key>
	<string>902284174007</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.TourismApp</string>
	<key>PROJECT_ID</key>
	<string>tourism-ap</string>
	<key>STORAGE_BUCKET</key>
	<string>tourism-ap.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:902284174007:ios:bfc89accd3eb425f25a332</string>
</dict>
</plist>